* {
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux", serif;
}
body {
    background: #002339;
    color: #fff;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.container h1 {
    font-weight: 500;
    font-size: 45px;
}
.container h1 span {
    color: #019F55;
    border-bottom: 4px solid #019F55;
    padding-bottom: 7px;
}
.display {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #FFF;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}
.display input {
    border: 0;
    outline:  0;
    font-size: 24px;
}
.display i {
    cursor: pointer;
}
.container button {
    border: 0;
    outline: 0;
    background: #019F55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}
.container button i {
    margin-right: 10px;
}
.portfolio {
    position: fixed;
    left: -35px;
    bottom: 120px;
    transform: rotate(90deg);
    padding: 0;
    margin: 0;
}
.portfolio a {
    font-size: medium;
    background-color: #FFD9AB;
    padding: 10px 5px 50px 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #4e342e;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s;
}
.portfolio a:hover {
    background-color: #4e342e;
    color: #FFD9AB;
}

@media (max-width: 1100px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .display {
        width: 80%;
    }
}
